---
import Layout from "../layouts/Layout.astro";
import FaIcon from "../components/FaIcon.astro";
import { faWindows } from "@fortawesome/free-brands-svg-icons";
---

<Layout title="Overlap" class="mx-auto flex max-w-3xl grow px-4 md:px-8">
    <div class="my-auto pt-24 pb-16 text-center md:py-16">
        <h1 class="mb-4 text-center font-['Bitter_Variable',serif] text-6xl font-semibold underline underline-offset-4 md:text-8xl md:underline-offset-[6px]">
            Overlap
        </h1>
        <div class="grid-cols-2 items-center gap-y-4 md:my-12 md:grid">
            <section class="px-12">
                <p class="mb-8 text-gray-900 md:mb-0 dark:text-gray-100">
                    See and control your music 
                    seamlessly in-game.
                </p>
            </section>
            <section class="col-start-1 row-start-2 mb-16 px-12 md:mb-0">
                <a class="mx-auto inline-block cursor-pointer items-center gap-2 rounded-md bg-[#10191E] px-4 py-2 font-normal text-white dark:bg-white dark:text-black" href="https://github.com/nedpranson/overlap/releases/download/1.0.0-alpha.1/overlap-1.0.0-alpha.1.zip">
                    <FaIcon icon={faWindows} />
                    Download for Windows
                </a>
            </section>
            <section class="col-start-2 row-start-2 px-12 text-sm text-gray-900 dark:text-gray-100">
                <p class="flex items-center justify-center gap-2 font-semibold">
                    Overlap is currently in
                    <span class="rounded border border-black px-1 py-0.5 dark:border-white">ALPHA</span>
                </p>
            </section>
            <section class="mx-auto max-w-lg px-4">
                <img alt="Overlap Preview" class="my-4 bg-linear-to-bl from-violet-200 to-pink-200 p-2 md:my-0 dark:from-violet-800 dark:to-pink-800" src="/preview.webp">
            </section>
        </div>
        <p class="px-8 text-gray-700 dark:text-gray-300">
            Please report any issues you encounter on
            <a class="text-[#00DFA2] underline underline-offset-2" href="https://github.com/nedpranson/overlap/issues">GitHub.</a>
        </p>
    </div>
</Layout>
