---
import FaIcon from "../components/FaIcon.astro";
import { faGithub } from "@fortawesome/free-brands-svg-icons";
---

<footer class="bg-[#10191E] dark:bg-white">
    <div class="mx-auto grid max-w-3xl gap-4 p-8 text-center text-sm text-white md:grid-cols-3 md:text-left dark:text-black">
        <section class="flex flex-col gap-1">
            <h2 class="text-base font-semibold">Follow Us</h2>
            <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
                <li>
                    <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/nedpranson/overlap">
                        <FaIcon icon={faGithub} />
                        GitHub
                    </a>
                </li>
            </ul>
        </section>
        <section class="flex flex-col gap-1 md:col-start-1 md:row-start-2">
            <h2 class="text-base font-semibold">Support Us</h2>
            <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
                <li>
                    <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/sponsors/nedpranson">
                        <FaIcon icon={faGithub} />
                        GitHub
                    </a>
                </li>
            </ul>
        </section>
        <section class="flex flex-col gap-1 md:row-span-2">
            <h2 class="text-base font-semibold">Overlap Projects</h2>
            <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
                <li>
                    <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/nedpranson/overlap-launcher">
                        Launcher
                    </a>
                </li>
                <li>
                    <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/nedpranson/overlap-site">
                        Website
                    </a>
                </li>
                <li>
                    <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="https://github.com/nedpranson/overlap">
                        Overlay
                    </a>
                </li>
            </ul>
        </section>
        <section class="flex flex-col gap-1 md:row-span-2">
            <h2 class="text-base font-semibold">Links</h2>
            <ul class="flex flex-col gap-2 text-gray-300 dark:text-gray-700">
                <li>
                    <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a class="border-white hover:border-b hover:text-white dark:border-black dark:hover:text-black" href="#">
                        Download
                    </a>
                </li>
            </ul>
        </section>
    </div>
</footer>
